<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://pqnpw10744noxiw.belugacdn.link/1574.science.xnu.undecimus.ipa?1598559163</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://i.pinimg.com/originals/62/71/df/6271df0313418f138a64b8e2634812ad.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://i.pinimg.com/originals/62/71/df/6271df0313418f138a64b8e2634812ad.png
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cf.akamios.unc0ver</string>
				<key>bundle-version</key>
				<string>5.3.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>📥Unc0ver 5.3.1📥
🟥🔥 JailBreak 🔥🟥
Test Unc0ver hAkamIOS 🔥🇮🇱</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
