<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://archive.org/download/popandpop/new6Signed.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://www.getapkfile.com/wp-content/uploads/2018/07/PUBG-MOBILE-0.7.0-APK-Download-Android-APP.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://www.getapkfile.com/wp-content/uploads/2018/07/PUBG-MOBILE-0.7.0-APK-Download-Android-APP.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cf.rashidfarhad.unc0verzippo</string>
				<key>bundle-version</key>
				<string>5.3.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string> Pubg Global Full Hack ✅ 

Non Jailbreak ✅

Band 10Min 10Years ❌

If Your Share Without My Credits I post Your Scamer !🤑

📎Share With Credits : @RashidFarhad 📍
📎Share With Credits : @DaliTeamIOS 📌 </string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
