<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://pqnpw10744noxiw.belugacdn.link/1574.science.xnu.undecimus.ipa?1598559163</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://github.com/RashidFarhad/unc0ver/blob/master/D2F3C96D-104B-4500-86CB-1B69C8DDA34A.jpeg?raw=true</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://github.com/RashidFarhad/unc0ver/blob/master/D2F3C96D-104B-4500-86CB-1B69C8DDA34A.jpeg?raw=true</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>cf.rashidfarhad.unc0ver</string>
				<key>bundle-version</key>
				<string>5.3.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>📥Unc0ver📥
@CodeBoy_666 ♥️</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
